<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="hero-container">
        <div class="hero-content">
          <h1 class="text-center">{{site.title}}</h1>

          <p class="text-center">
            Hong Jing Khok, Victor Teck Chang Koh, Cuntai Guan
          </p>

          <div class="hero-buttons">
            <a href="https://github.com/jinglescode/ssvep-multi-task-learning/blob/master/Deep-Multi-Task-Learning-for-SSVEP-Detection-and-Visual-Response-Mapping.pdf"
              ><button class="btn btn-default btn-lg">
                <i class="far fa-file-alt fa-lg" style="margin-right: 10px"></i
                >Paper
              </button></a
            >

            <a href="{{ site.github_link }}"
              ><button class="btn btn-default btn-lg">
                <i class="fab fa-github fa-lg" style="margin-right: 10px"></i
                >Github
              </button></a
            >

            <!-- <a href="{{ site.medium_link }}"
              ><button class="btn btn-default btn-lg">
                <i class="fab fa-medium fa-lg" style="margin-right: 10px"></i
                >Medium
              </button></a
            > -->
            
          </div>

          <p class="text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8isS5gR0wtM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
